@use '../../../styles/helpers';
@use '../../../styles/mixins/_surface' as surface;
@use '../../../styles/variables';
@use '../../../styles/spacing.semantic' as spacing;

$--mobile-font-size: 16px;
$--mobile-line-height: helpers.pxToRem($--mobile-font-size);

$--tablet-font-size: 20px;
$--tablet-line-height: helpers.pxToRem($--tablet-font-size);

$--desktop-font-size: 24px;
$--desktop-line-height: helpers.pxToRem($--desktop-font-size);

.main {
  @include surface.surface-box;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @include helpers.mobile {
    border-radius: variables.$mobile-narrow-layout-gutter;
    padding: spacing.$space-compact-mobile;
    width: 100%;
    max-height: calc(#{spacing.$space-compact-mobile} * 2 + $--mobile-line-height);
  }

  @include helpers.tablet {
    border-radius: variables.$tablet-narrow-layout-gutter;
    padding: spacing.$space-compact-tablet;
    width: variables.$tablet-width;
    max-height: calc(#{spacing.$space-compact-tablet} * 2 + $--tablet-line-height);
  }

  @include helpers.desktop {
    border-radius: variables.$desktop-narrow-layout-gutter;
    padding: spacing.$space-compact-desktop;
    width: variables.$desktop-width;
    max-height: calc(#{spacing.$space-compact-desktop} * 2 + $--desktop-line-height);
  }

  .questions, .gamePIN {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 1;

    @include helpers.mobile {
      column-gap: spacing.$space-compact-mobile;
      line-height: $--mobile-line-height;

      @include helpers.fontSize($--mobile-font-size);
    }

    @include helpers.tablet {
      column-gap: spacing.$space-compact-tablet;
      line-height: $--tablet-line-height;

      @include helpers.fontSize($--tablet-font-size);
    }

    @include helpers.desktop {
      column-gap: spacing.$space-compact-desktop;
      line-height: $--desktop-line-height;

      @include helpers.fontSize($--desktop-font-size);
    }

    span {
      font-weight: bold;
    }
  }

  .questions {
    justify-content: flex-start;
  }

  .gamePIN {
    justify-content: center;
  }

  .actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex: 1;

    @include helpers.mobile {
      column-gap: spacing.$space-compact-mobile;
    }

    @include helpers.tablet {
      column-gap: spacing.$space-compact-tablet;
    }

    @include helpers.desktop {
      column-gap: spacing.$space-compact-desktop;
    }

    @mixin iconSize() {
      @include helpers.mobile {
        width: helpers.pxToRem(40px);
        height: helpers.pxToRem(40px);
      }

      @include helpers.tablet {
        width: helpers.pxToRem(42px);
        height: helpers.pxToRem(42px);
      }

      @include helpers.desktop {
        width: helpers.pxToRem(44px);
        height: helpers.pxToRem(44px);
      }
    }

    .menuButtonWrapper {
      div[class*=_buttonInputContainer] {
        padding: 0;
        margin: 0;

        button {
          @include helpers.mobile {
            @include helpers.fontSize(18px);
          }

          @include helpers.tablet {
            @include helpers.fontSize(22px);
          }

          @include helpers.desktop {
            @include helpers.fontSize(26px);
          }
        }
      }
    }
  }
}
