@use '../../../styles/border-radius.tokens' as radius;
@use '../../../styles/helpers' as helpers;
@use '../../../styles/mixins/_surface' as surface;
@use '../../../styles/spacing.semantic' as spacing;
@use '../../../styles/typography.tokens' as typography;
@use '../../../styles/variables' as variables;

.main {
  @include surface.surface-box;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: radius.$radius-surface-lg;

  @include helpers.mobile {
    padding: spacing.$space-inline-tight-mobile spacing.$space-compact-mobile;
    width: 100%;
  }

  @include helpers.tablet {
    padding: spacing.$space-inline-tight-tablet spacing.$space-compact-tablet;
    width: variables.$tablet-width;
  }

  @include helpers.desktop {
    padding: spacing.$space-inline-tight-desktop spacing.$space-compact-desktop;
    width: variables.$desktop-width;
  }

  .questions, .gamePIN {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 1;

    @include helpers.mobile {
      column-gap: spacing.$space-compact-mobile;
    }

    @include helpers.tablet {
      column-gap: spacing.$space-compact-tablet;
    }

    @include helpers.desktop {
      column-gap: spacing.$space-compact-desktop;
    }

    .icon {
      @include helpers.mobile {
        @include helpers.fontSize(typography.$font-size-body2-mobile);
      }

      @include helpers.tablet {
        @include helpers.fontSize(typography.$font-size-body2-tablet);
      }

      @include helpers.desktop {
        @include helpers.fontSize(typography.$font-size-body2-desktop);
      }
    }
  }

  .questions {
    justify-content: flex-start;
  }

  .gamePIN {
    justify-content: center;
  }

  .actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex: 1;

    @include helpers.mobile {
      column-gap: spacing.$space-compact-mobile;
    }

    @include helpers.tablet {
      column-gap: spacing.$space-compact-tablet;
    }

    @include helpers.desktop {
      column-gap: spacing.$space-compact-desktop;
    }

    .menuButtonWrapper {
      div[class*=_buttonInputContainer] {
        padding: 0;
        margin: 0;

        button {
          @include helpers.mobile {
            @include helpers.fontSize(typography.$font-size-body2-mobile);
          }

          @include helpers.tablet {
            @include helpers.fontSize(typography.$font-size-body2-tablet);
          }

          @include helpers.desktop {
            @include helpers.fontSize(typography.$font-size-body2-desktop);
          }
        }
      }
    }
  }
}
