@use '../../styles/colors.loading.semantic' as loadingColors;
@use '../../styles/controls.tokens' as controls;
@use '../../styles/helpers' as helpers;
@use '../../styles/inputs' as inputs;
@use '../../styles/loading' as loading;

.buttonInputContainer {
  @extend .input;

  button {
    .loadingSpinner {
      @extend .loading-spinner;

      @include helpers.mobile {
        $--mobile-loading-spinner-size: calc(
          #{controls.$control-normal-height-mobile} * 0.9
        );
        @include loading.loading-spinner-dimensions(
          $--mobile-loading-spinner-size,
          loadingColors.$color-loading-spinner-default,
          button-mobile-normal
        );
      }

      @include helpers.tablet {
        $--tablet-loading-spinner-size: calc(
          #{controls.$control-normal-height-tablet} * 0.9
        );
        @include loading.loading-spinner-dimensions(
          $--tablet-loading-spinner-size,
          loadingColors.$color-loading-spinner-default,
          button-tablet-normal
        );
      }

      @include helpers.desktop {
        $--desktop-loading-spinner-size: calc(
          #{controls.$control-normal-height-desktop} * 0.9
        );
        @include loading.loading-spinner-dimensions(
          $--desktop-loading-spinner-size,
          loadingColors.$color-loading-spinner-default,
          button-desktop-normal
        );
      }
    }
  }

  &.buttonInputKindPrimary {
    @extend .input-kind-primary;
  }

  &.buttonInputKindSecondary {
    @extend .input-kind-secondary;
  }

  &.buttonInputKindCallToAction {
    @extend .input-kind-call-to-action;
  }

  &.buttonInputKindSuccess {
    @extend .input-kind-success;
  }

  &.buttonInputKindDestructive {
    @extend .input-kind-destructive;
  }

  &.buttonInputKindPlain {
    @extend .input-kind-plain;
  }

  &.buttonInputSizeSmall {
    @extend .input-size-small;

    button {
      .loadingSpinner {
        @include helpers.mobile {
          $--mobile-loading-spinner-size: calc(
            #{controls.$control-small-height-mobile} * 0.9
          );
          @include loading.loading-spinner-dimensions(
            $--mobile-loading-spinner-size,
            loadingColors.$color-loading-spinner-default,
            button-mobile-small
          );
        }

        @include helpers.tablet {
          $--tablet-loading-spinner-size: calc(
            #{controls.$control-small-height-tablet} * 0.9
          );
          @include loading.loading-spinner-dimensions(
            $--tablet-loading-spinner-size,
            loadingColors.$color-loading-spinner-default,
            button-tablet-small
          );
        }

        @include helpers.desktop {
          $--desktop-loading-spinner-size: calc(
            #{controls.$control-small-height-desktop} * 0.9
          );
          @include loading.loading-spinner-dimensions(
            $--desktop-loading-spinner-size,
            loadingColors.$color-loading-spinner-default,
            button-desktop-small
          );
        }
      }
    }
  }
}
