@use '../../styles/colors' as legacy;
@use '../../styles/helpers';
@use '../../styles/mixins/_surface' as surface;
@use '../../styles/variables';

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  @include helpers.mobile {
    gap: variables.$mobile-layout-gutter;
  }

  @include helpers.tablet {
    gap: variables.$tablet-layout-gutter;
  }

  @include helpers.desktop {
    gap: variables.$desktop-layout-gutter;
  }

  &.flexibleHeight {
    flex: 0 0 auto;
  }

  &.fullWidth {
    width: 100%;
  }

  &.fullHeight {
    flex: 1;
    min-height: 0;
    overflow: auto;
  }

  .column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .iconInfo {
      @include surface.surface-box;

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      font-weight: bold;

      @mixin info-dimensions($size) {
        column-gap: $size * 0.4;
        height: $size;
        padding: 0 $size * 0.5;
        border-radius: calc($size / 2);

        svg {
          @include helpers.fontSize($size * 0.5);
        }

        span {
          margin-top: -($size * 0.075);
          @include helpers.fontSize($size * 0.6);
        }
      }

      @include helpers.mobile {
        @include info-dimensions(26px);
      }

      @include helpers.tablet {
        @include info-dimensions(36px);
      }

      @include helpers.desktop {
        @include info-dimensions(46px);
      }
    }
  }
}
