@use '../../../styles/border-radius.tokens' as radius;
@use '../../../styles/colors.semantic' as colors;
@use '../../../styles/helpers' as helpers;
@use '../../../styles/spacing.semantic' as spacing;

.badge {
  margin: 0;
  background-color: colors.$color-surface-default;
  color: colors.$color-text-default;
  border-radius: radius.$radius-control-md;

  @include helpers.mobile {
    padding: 0 spacing.$space-compact-mobile;
  }

  @include helpers.tablet {
    padding: 0 spacing.$space-compact-tablet;
  }

  @include helpers.desktop {
    padding: 0 spacing.$space-compact-desktop;
  }
}
