@use '../../../styles/border-radius.tokens' as radius;
@use '../../../styles/colors.semantic' as colors;
@use '../../../styles/helpers';
@use '../../../styles/mixins/_surface' as surface;
@use '../../../styles/variables';
@use '../../../styles/spacing.semantic' as spacing;

$--mobile-font-size: 16px;
$--mobile-line-height: helpers.pxToRem($--mobile-font-size);

$--tablet-font-size: 20px;
$--tablet-line-height: helpers.pxToRem($--tablet-font-size);

$--desktop-font-size: 24px;
$--desktop-line-height: helpers.pxToRem($--desktop-font-size);

.main {
  @include surface.surface-box;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: radius.$radius-surface-lg;

  @include helpers.mobile {
    padding: spacing.$space-compact-mobile;
    width: 100%;
    max-height: calc(#{spacing.$space-compact-mobile} * 2 + $--mobile-line-height);
  }

  @include helpers.tablet {
    padding: spacing.$space-compact-tablet;
    width: variables.$tablet-width;
    max-height: calc(#{spacing.$space-compact-tablet} * 2 + $--tablet-line-height);
  }

  @include helpers.desktop {
    padding: spacing.$space-compact-desktop;
    width: variables.$desktop-width;
    max-height: calc(#{spacing.$space-compact-desktop} * 2 + $--desktop-line-height);
  }

  .questions, .nickname, .score {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 1;

    @include helpers.mobile {
      column-gap: spacing.$space-compact-mobile;
      line-height: $--mobile-line-height;

      @include helpers.fontSize($--mobile-font-size);
    }

    @include helpers.tablet {
      column-gap: spacing.$space-compact-tablet;
      line-height: $--tablet-line-height;

      @include helpers.fontSize($--tablet-font-size);
    }

    @include helpers.desktop {
      column-gap: spacing.$space-compact-desktop;
      line-height: $--desktop-line-height;

      @include helpers.fontSize($--desktop-font-size);
    }

    span {
      font-weight: bold;
    }
  }

  .questions {
    justify-content: flex-start;
  }

  .nickname {
    justify-content: center;
  }

  .score {
    justify-content: flex-end;

    span {
      margin: 0;
      background-color: colors.$color-surface-default;
      color: colors.$color-text-default;
      border-radius: radius.$radius-control-md;

      @include helpers.mobile {
        padding: spacing.$space-inline-tight-mobile spacing.$space-compact-mobile;
      }

      @include helpers.tablet {
        padding: spacing.$space-inline-tight-tablet spacing.$space-compact-tablet;
      }

      @include helpers.desktop {
        padding: spacing.$space-inline-tight-desktop spacing.$space-compact-desktop;
      }
    }
  }
}
