root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

# Do not apply text settings to binary assets.
[*.{7z,avif,bmp,eot,gif,gz,ico,jpeg,jpg,mov,mp3,mp4,otf,pdf,png,tar,tif,ttf,wasm,webm,webp,woff,woff2,zip}]
charset = unset
end_of_line = unset
indent_size = unset
indent_style = unset
insert_final_newline = unset
trim_trailing_whitespace = unset
