@use '../../styles/helpers' as helpers;
@use '../../styles/spacing.semantic' as spacing;
@use '../../styles/variables' as variables;

.nicknameTextFieldContainer {
  display: flex;
  flex-direction: row;
  width: 100%;

  @include helpers.mobile {
    column-gap: spacing.$space-compact-mobile
  }

  @include helpers.tablet {
    column-gap: spacing.$space-compact-tablet
  }

  @include helpers.desktop {
    column-gap: spacing.$space-compact-desktop;
  }

  > :first-child {
    flex: 1;
  }
}
