@use '../../../styles/helpers' as helpers;
@use '../../../styles/spacing.semantic' as spacing;

.metadata {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  column-gap: spacing.$space-content-distribution-mobile;
  row-gap: spacing.$space-stack-mobile;

  @include helpers.tablet {
    column-gap: spacing.$space-content-distribution-tablet;
    row-gap: spacing.$space-stack-tablet;
  }

  @include helpers.desktop {
    column-gap: spacing.$space-content-distribution-desktop;
    row-gap: spacing.$space-stack-desktop;
  }
}

.chip {
  display: flex;
  flex: 0 1 auto;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  min-height: helpers.pxToRem(34px);
  padding-inline: spacing.$space-content-inline-mobile;
  border-radius: helpers.pxToRem(24px);

  @include helpers.tablet {
    min-height: helpers.pxToRem(41px);
    padding-inline: spacing.$space-content-inline-tablet;
  }

  @include helpers.desktop {
    min-height: helpers.pxToRem(48px);
    padding-inline: spacing.$space-content-inline-desktop;
  }
}

.metadataText {
  flex: 0 1 auto;
  width: auto;
  white-space: nowrap;

  svg {
    margin-right: spacing.$space-content-item-gap-mobile;
  }

  @include helpers.tablet {
    svg {
      margin-right: spacing.$space-content-item-gap-tablet;
    }
  }

  @include helpers.desktop {
    svg {
      margin-right: spacing.$space-content-item-gap-desktop;
    }
  }
}
