@use '../../../styles/helpers';
@use '../../../styles/mixins/_surface' as surface;
@use '../../../styles/spacing.semantic' as spacing;
@use '../../../styles/variables';

.chip {
  @include surface.surface-box;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  position: relative;

  @include helpers.mobile {
    column-gap: spacing.$space-content-distribution-mobile;
    padding: 0 spacing.$space-content-inline-mobile;
    border-radius: helpers.pxToRem(calc(34px / 2));
    height: helpers.pxToRem(34px);

    @include helpers.fontSize(14px);
  }

  @include helpers.tablet {
    column-gap: spacing.$space-content-distribution-tablet;
    padding: 0 spacing.$space-content-inline-tablet;
    border-radius: helpers.pxToRem(calc(41px / 2));
    height: helpers.pxToRem(41px);

    @include helpers.fontSize(18px);
  }

  @include helpers.desktop {
    column-gap: spacing.$space-content-distribution-desktop;
    padding: 0 spacing.$space-content-inline-desktop;
    border-radius: helpers.pxToRem(calc(48px / 2));
    height: helpers.pxToRem(48px);

    @include helpers.fontSize(22px);
  }

  .item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    @include helpers.mobile {
      column-gap: spacing.$space-content-item-gap-mobile;
    }

    @include helpers.tablet {
      column-gap: spacing.$space-content-item-gap-tablet;
    }

    @include helpers.desktop {
      column-gap: spacing.$space-content-item-gap-desktop;
    }
  }
}
