@use '../../styles/colors.rating' as rating;
@use '../../styles/colors.semantic' as colors;
@use '../../styles/helpers';
@use '../../styles/mixins/_button' as button;
@use '../../styles/spacing.semantic' as spacing;
@use '../../styles/variables';

.starRow {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}

// ─── Sizes ────────────────────────────────────────────────────────────────────

.small {
  @include helpers.mobile {
    gap: spacing.$space-inline-mobile;

    @include helpers.fontSize(16px);
  }

  @include helpers.tablet {
    gap: spacing.$space-inline-tablet;

    @include helpers.fontSize(18px);
  }

  @include helpers.desktop {
    gap: spacing.$space-inline-desktop;

    @include helpers.fontSize(20px);
  }
}

.large {
  @include helpers.mobile {
    gap: spacing.$space-compact-mobile;

    @include helpers.fontSize(24px);
  }

  @include helpers.tablet {
    gap: spacing.$space-compact-tablet;

    @include helpers.fontSize(28px);
  }

  @include helpers.desktop {
    gap: spacing.$space-compact-desktop;

    @include helpers.fontSize(32px);
  }
}

.filled {
  color: rating.$color-rating-default;
}

.empty {
  color: colors.$color-text-inverse-subtle;
}

.starButton {
  @include button.button-reset;

  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: colors.$color-text-inverse;

  &:disabled {
    color: colors.$color-text-disabled;
    cursor: default;
  }

  &.active {
    color: rating.$color-rating-default;

    &:hover {
      color: rating.$color-rating-hover;
    }
  }

  &:hover {
    &:not(:disabled) {
      &:not(.active) {
        color: rating.$color-rating-hover;
      }
    }
  }

  &:focus-visible {
    &:not(:disabled) {
      outline: 2px solid colors.$color-focus-ring;
      outline-offset: 2px;
    }
  }
}
