@use '../../../../styles/helpers';
@use '../../../../styles/variables';
@use '../../../../styles/spacing.semantic' as spacing;

.filterModalContainer {
  display: flex;
  flex-direction: column;

  @include helpers.mobile {
    gap: spacing.$space-compact-mobile;
  }

  @include helpers.tablet {
    gap: spacing.$space-compact-tablet;
  }

  @include helpers.desktop {
    gap: spacing.$space-compact-desktop;
  }

  .row {
    display: flex;
    flex-direction: column;

    @include helpers.mobile {
      row-gap: spacing.$space-inline-mobile;
    }

    @include helpers.tablet {
      row-gap: spacing.$space-inline-tablet;
    }

    @include helpers.desktop {
      row-gap: spacing.$space-inline-desktop;
    }

    &.buttonGroup {
      display: flex;
      flex-direction: row;

      @include helpers.mobile {
        column-gap: spacing.$space-compact-mobile;
      }

      @include helpers.tablet {
        column-gap: spacing.$space-compact-tablet;
      }

      @include helpers.desktop {
        column-gap: spacing.$space-compact-desktop;
      }

      > div {
        flex: 1;
      }
    }
  }
}
