@use '../../../../styles/helpers';
@use '../../../../styles/variables';
@use '../../../../styles/spacing.semantic' as spacing;

.createUserForm {
  display: flex;
  flex-direction: column;

  @include helpers.mobile {
    row-gap: spacing.$space-compact-mobile;
    width: 100%;
  }

  @include helpers.tablet {
    row-gap: spacing.$space-compact-tablet;
    width: variables.$mobile-width;
  }

  @include helpers.desktop {
    row-gap: spacing.$space-compact-desktop;
    width: variables.$mobile-width;
  }
}
