@use '../../../../styles/breakpoints.tokens' as breakpoints;
@use '../../../../styles/helpers' as helpers;
@use '../../../../styles/spacing.semantic' as spacing;

.createUserForm {
  display: flex;
  flex-direction: column;

  @include helpers.mobile {
    row-gap: spacing.$space-compact-mobile;
    width: 100%;
  }

  @include helpers.tablet {
    row-gap: spacing.$space-compact-tablet;
    width: breakpoints.$breakpoint-mobile;
  }

  @include helpers.desktop {
    row-gap: spacing.$space-compact-desktop;
    width: breakpoints.$breakpoint-mobile;
  }
}
