@use '../../styles/border-radius.tokens' as radius;
@use '../../styles/helpers';
@use '../../styles/inputs';

.segmentedControl {
  display: flex;
  flex-direction: row;

  .segmentedControlItem {
    @extend .input;

    flex: 1;
    border-radius: radius.$radius-sharp;

    &.segmentedControlInputKindPrimary {
      &.segmentedControlInputActive {
        @extend .input-kind-call-to-action;
      }
      &.segmentedControlInputInactive {
        @extend .input-kind-primary;
      }
    }

    &.segmentedControlInputKindSecondary {
      &.segmentedControlInputActive {
        @extend .input-kind-call-to-action;
      }
      &.segmentedControlInputInactive {
        @extend .input-kind-secondary;
      }
    }

    &.segmentedControlInputSizeNormal {
      &:first-child {
        border-top-left-radius: radius.$radius-control-md;
        border-bottom-left-radius: radius.$radius-control-md;
      }

      &:last-child {
        border-top-right-radius: radius.$radius-control-md;
        border-bottom-right-radius: radius.$radius-control-md;
      }
    }

    &.segmentedControlInputSizeSmall {
      border-radius: radius.$radius-sharp;
      @extend .input-size-small;

      &:first-child {
        border-top-left-radius: radius.$radius-control-sm;
        border-bottom-left-radius: radius.$radius-control-sm;
      }

      &:last-child {
        border-top-right-radius: radius.$radius-control-sm;
        border-bottom-right-radius: radius.$radius-control-sm;
      }
    }
  }
}
