@use '../../styles/border-radius.tokens' as radius;
@use '../../styles/colors.semantic' as colors;
@use '../../styles/controls.tokens' as controls;
@use '../../styles/helpers' as helpers;

.container {
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  &.fallbackAspectRatio {
    height: auto;
    display: block;
  }

  .box,
  .boxNoBorder {
    position: relative;
    margin: 0 auto;
    display: block;
    transition: none !important;
    width: 100%;
    height: 100%;
  }

  .box {
    border: controls.$control-border-width-outside solid
      colors.$color-border-contrast;
    border-radius: radius.$radius-surface-md;
    background-color: colors.$color-surface-floating;
    overflow: hidden;
  }

  .boxNoBorder {
    border: none;
    background-color: colors.$color-surface-floating;
    overflow: hidden;

    @include helpers.mobile {
      border-radius: radius.$radius-surface-md;
    }
    @include helpers.tablet {
      border-radius: radius.$radius-surface-md;
    }
    @include helpers.desktop {
      border-radius: radius.$radius-surface-md;
    }
  }

  .noRadius {
    border-radius: radius.$radius-sharp !important;
  }

  .img {
    display: block;
    object-fit: fill;
    width: 100%;
    height: 100%;
    transition: none !important;
  }

  .overlay {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    /* IMPORTANT: allow dragging on children like your pin overlay */
    pointer-events: auto;
  }

  .centerOverlay {
    position: relative;
    width: 100%;
    display: grid;
    place-items: center;
    background-color: colors.$color-surface-placeholder;

    .icon {
      color: colors.$color-text-inverse-subtle;
    }
  }
}
