@use '../../../../../styles/helpers';
@use '../../../../../styles/variables';
@use '../../../../../styles/spacing.semantic' as spacing;

.playerManagementModal {
  display: flex;
  flex-direction: column;

  @include helpers.mobile {
    row-gap: spacing.$space-page-mobile;
  }
  @include helpers.tablet {
    row-gap: spacing.$space-page-tablet;
  }
  @include helpers.desktop {
    row-gap: spacing.$space-page-desktop;
  }

  .flow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: auto;

    @include helpers.mobile {
      gap: spacing.$space-compact-mobile;
      padding: spacing.$space-compact-mobile;
    }

    @include helpers.tablet {
      gap: spacing.$space-compact-tablet;
      padding: spacing.$space-compact-tablet;
    }

    @include helpers.desktop {
      gap: spacing.$space-compact-desktop;
      padding: spacing.$space-compact-desktop;
    }
  }
}
