@use '../../styles/helpers';
@use '../../styles/variables';
@use '../../styles/spacing.semantic' as spacing;

.streakBadge {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  @include helpers.mobile {
    column-gap: spacing.$space-compact-mobile;
    @include helpers.fontSize(variables.$mobile-body-font-size);
  }

  @include helpers.tablet {
    column-gap: spacing.$space-compact-tablet;
    @include helpers.fontSize(variables.$tablet-body-font-size);
  }

  @include helpers.desktop {
    column-gap: spacing.$space-compact-desktop;
    @include helpers.fontSize(variables.$desktop-body-font-size);
  }
}
