@use '../../../../../../../../../styles/border-radius.tokens' as radius;
@use '../../../../../../../../../styles/colors.semantic' as colors;
@use '../../../../../../../../../styles/controls.tokens' as controls;
@use '../../../../../../../../../styles/helpers' as helpers;
@use '../../../../../../../../../styles/spacing.semantic' as spacing;

.mediaQuestionField {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  width: 100%;

  .previewWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    width: 100%;

    @include helpers.mobile {
      row-gap: spacing.$space-compact-mobile;
    }

    @include helpers.tablet {
      row-gap: spacing.$space-compact-tablet;
    }

    @include helpers.desktop {
      row-gap: spacing.$space-compact-desktop;
    }

    .preview {
      display: flex;
      flex-direction: column;
      flex: 1 1 auto;
      width: 100%;
      min-width: 0;
      min-height: 0;
      overflow: hidden;
      max-width: 100%;
    }

    .actions {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;
      width: 100%;

      @include helpers.mobile {
        column-gap: spacing.$space-compact-mobile;
      }

      @include helpers.tablet {
        column-gap: spacing.$space-compact-tablet;
      }

      @include helpers.desktop {
        column-gap: spacing.$space-compact-desktop;
      }
    }
  }
}
