@use '../../styles/helpers';
@use '../../styles/variables';
@use '../../styles/spacing.semantic' as spacing;

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  @include helpers.mobile {
    column-gap: spacing.$space-compact-mobile;
  }

  @include helpers.tablet {
    column-gap: spacing.$space-compact-tablet;
  }

  @include helpers.desktop {
    column-gap: spacing.$space-compact-desktop;
  }

  .navigation {
    display: flex;
    flex-direction: row;
    flex: 1;

    &:first-child {
      justify-content: flex-start;
    }
    &:last-child {
      justify-content: flex-end;
    }

    @include helpers.mobile {
      column-gap: spacing.$space-compact-mobile;
    }

    @include helpers.tablet {
      column-gap: spacing.$space-compact-tablet;
    }

    @include helpers.desktop {
      column-gap: spacing.$space-compact-desktop;
    }
  }

  .page {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1;

    @include helpers.mobile {
      @include helpers.fontSize(16px);
    }

    @include helpers.tablet {
      @include helpers.fontSize(18px);
    }

    @include helpers.desktop {
      @include helpers.fontSize(20px);
    }
  }
}