@use '../../../../../../styles/colors.semantic' as colors;
@use '../../../../../../styles/spacing.semantic' as spacing;

.questionSettings {
  display: flex;
  flex-direction: column;
  min-width: 0;

  .additionalContent {
    display: flex;
    flex-direction: column;
    gap: spacing.$space-compact-desktop;
  }

  .deleteQuestion {
    margin-top: spacing.$space-compact-desktop;
    padding-top: spacing.$space-compact-desktop;
    border-top: 1px solid colors.$color-border-default;
  }
}
