@use '../../styles/border-radius.tokens' as radius;
@use '../../styles/colors.semantic' as colors;
@use '../../styles/helpers' as helpers;

.playerWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-style: solid;
  border-color: colors.$color-border-glass-strong;
  border-radius: radius.$radius-surface-md;
  background-color: colors.$color-surface-floating;

  @include helpers.mobile {
    border-width: helpers.pxToRem(2px);
  }

  @include helpers.tablet {
    border-width: helpers.pxToRem(3px);
  }

  @include helpers.desktop {
    border-width: helpers.pxToRem(4px);
  }
}
