@use '../../styles/breakpoints.tokens' as breakpoints;
@use '../../styles/colors.semantic' as colors;
@use '../../styles/helpers' as helpers;
@use '../../styles/spacing.semantic' as spacing;
@use '../../styles/typography.tokens' as typography;

.typography {
  margin: 0;
  display: flex;
  flex-direction: row;
  color: colors.$color-text-inverse;
  align-items: center;

  @include helpers.mobile {
    gap: spacing.$space-compact-mobile;
  }
  @include helpers.tablet {
    gap: spacing.$space-compact-tablet;
  }
  @include helpers.desktop {
    gap: spacing.$space-compact-desktop;
  }

  &.textFitEnabled {
    font-size: var(--fitted-font-size) !important;
    line-height: var(--fitted-line-height) !important;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--max-lines, 2);
  }

  &.extraLargeTitle {
    font-weight: 900;
    opacity: 0.95;

    @include helpers.mobile {
      line-height: typography.$line-height-extra-large-title-mobile;
      @include helpers.fontSize(typography.$font-size-extra-large-title-mobile);
    }

    @include helpers.tablet {
      line-height: typography.$line-height-extra-large-title-tablet;
      @include helpers.fontSize(typography.$font-size-extra-large-title-tablet);
    }

    @include helpers.desktop {
      line-height: typography.$line-height-extra-large-title-desktop;
      @include helpers.fontSize(
        typography.$font-size-extra-large-title-desktop
      );
    }
  }

  &.title {
    font-weight: 900;
    opacity: 0.95;

    @include helpers.mobile {
      line-height: typography.$line-height-title-mobile;
      @include helpers.fontSize(typography.$font-size-title-mobile);
    }

    @include helpers.tablet {
      line-height: typography.$line-height-title-tablet;
      @include helpers.fontSize(typography.$font-size-title-tablet);
    }

    @include helpers.desktop {
      line-height: typography.$line-height-title-desktop;
      @include helpers.fontSize(typography.$font-size-title-desktop);
    }
  }

  &.title2 {
    font-weight: 700;
    opacity: 0.88;

    @include helpers.mobile {
      line-height: typography.$line-height-title2-mobile;
      @include helpers.fontSize(typography.$font-size-title2-mobile);
    }

    @include helpers.tablet {
      line-height: typography.$line-height-title2-tablet;
      @include helpers.fontSize(typography.$font-size-title2-tablet);
    }

    @include helpers.desktop {
      line-height: typography.$line-height-title2-desktop;
      @include helpers.fontSize(typography.$font-size-title2-desktop);
    }
  }

  &.title3 {
    font-weight: 700;
    opacity: 0.86;

    @include helpers.mobile {
      line-height: typography.$line-height-title3-mobile;
      @include helpers.fontSize(typography.$font-size-title3-mobile);
    }

    @include helpers.tablet {
      line-height: typography.$line-height-title3-tablet;
      @include helpers.fontSize(typography.$font-size-title3-tablet);
    }

    @include helpers.desktop {
      line-height: typography.$line-height-title3-desktop;
      @include helpers.fontSize(typography.$font-size-title3-desktop);
    }
  }

  &.title4 {
    font-weight: 700;
    opacity: 0.84;

    @include helpers.mobile {
      line-height: typography.$line-height-title4-mobile;
      @include helpers.fontSize(typography.$font-size-title4-mobile);
    }

    @include helpers.tablet {
      line-height: typography.$line-height-title4-tablet;
      @include helpers.fontSize(typography.$font-size-title4-tablet);
    }

    @include helpers.desktop {
      line-height: typography.$line-height-title4-desktop;
      @include helpers.fontSize(typography.$font-size-title4-desktop);
    }
  }

  &.title5 {
    font-weight: 700;
    opacity: 0.84;

    @include helpers.mobile {
      line-height: typography.$line-height-title5-mobile;
      @include helpers.fontSize(typography.$font-size-title5-mobile);
    }

    @include helpers.tablet {
      line-height: typography.$line-height-title5-tablet;
      @include helpers.fontSize(typography.$font-size-title5-tablet);
    }

    @include helpers.desktop {
      line-height: typography.$line-height-title5-desktop;
      @include helpers.fontSize(typography.$font-size-title5-desktop);
    }
  }

  &.body {
    font-weight: 400;
    opacity: 0.8;

    @include helpers.mobile {
      line-height: typography.$line-height-body-mobile;
      @include helpers.fontSize(typography.$font-size-body-mobile);
    }

    @include helpers.tablet {
      line-height: typography.$line-height-body-tablet;
      @include helpers.fontSize(typography.$font-size-body-tablet);
    }

    @include helpers.desktop {
      line-height: typography.$line-height-body-desktop;
      @include helpers.fontSize(typography.$font-size-body-desktop);
    }
  }

  &.body2 {
    font-weight: 400;
    opacity: 0.8;

    @include helpers.mobile {
      line-height: typography.$line-height-body2-mobile;
      @include helpers.fontSize(typography.$font-size-body2-mobile);
    }

    @include helpers.tablet {
      line-height: typography.$line-height-body2-tablet;
      @include helpers.fontSize(typography.$font-size-body2-tablet);
    }

    @include helpers.desktop {
      line-height: typography.$line-height-body2-desktop;
      @include helpers.fontSize(typography.$font-size-body2-desktop);
    }
  }

  &.link {
    font-weight: 400;
    cursor: pointer;

    @include helpers.mobile {
      line-height: typography.$line-height-link-mobile;
      @include helpers.fontSize(typography.$font-size-link-mobile);
    }

    @include helpers.tablet {
      line-height: typography.$line-height-link-tablet;
      @include helpers.fontSize(typography.$font-size-link-tablet);
    }

    @include helpers.desktop {
      line-height: typography.$line-height-link-desktop;
      @include helpers.fontSize(typography.$font-size-link-desktop);
    }
  }

  &.link2 {
    font-weight: 400;
    cursor: pointer;

    @include helpers.mobile {
      line-height: typography.$line-height-link2-mobile;
      @include helpers.fontSize(typography.$font-size-link2-mobile);
    }

    @include helpers.tablet {
      line-height: typography.$line-height-link2-tablet;
      @include helpers.fontSize(typography.$font-size-link2-tablet);
    }

    @include helpers.desktop {
      line-height: typography.$line-height-link2-desktop;
      @include helpers.fontSize(typography.$font-size-link2-desktop);
    }
  }

  &.control {
    font-weight: 400;
    opacity: 0.8;

    @include helpers.mobile {
      line-height: typography.$line-height-control-normal-mobile;
      @include helpers.fontSize(typography.$font-size-control-normal-mobile);
    }

    @include helpers.tablet {
      line-height: typography.$line-height-control-normal-tablet;
      @include helpers.fontSize(typography.$font-size-control-normal-tablet);
    }

    @include helpers.desktop {
      line-height: typography.$line-height-control-normal-desktop;
      @include helpers.fontSize(typography.$font-size-control-normal-desktop);
    }
  }

  &.control2 {
    font-weight: 400;
    opacity: 0.8;

    @include helpers.mobile {
      line-height: typography.$line-height-control-small-mobile;
      @include helpers.fontSize(typography.$font-size-control-small-mobile);
    }

    @include helpers.tablet {
      line-height: typography.$line-height-control-small-tablet;
      @include helpers.fontSize(typography.$font-size-control-small-tablet);
    }

    @include helpers.desktop {
      line-height: typography.$line-height-control-small-desktop;
      @include helpers.fontSize(typography.$font-size-control-small-desktop);
    }
  }

  &.alignCenter {
    justify-content: center;
    text-align: center;
  }

  &.alignJustify {
    justify-content: flex-start;
    text-align: justify;
  }

  &.alignLeft {
    justify-content: flex-start;
    text-align: left;
  }

  &.alignRight {
    justify-content: flex-end;
    text-align: right;
  }

  &.widthSmall {
    @include helpers.mobile {
      width: 100%;
    }

    @include helpers.tablet {
      width: breakpoints.$breakpoint-mobile;
    }

    @include helpers.desktop {
      width: breakpoints.$breakpoint-mobile;
    }
  }

  &.widthMedium {
    @include helpers.mobile {
      width: 100%;
    }

    @include helpers.tablet {
      width: breakpoints.$breakpoint-tablet;
    }

    @include helpers.desktop {
      width: breakpoints.$breakpoint-tablet;
    }
  }

  &.widthFull {
    width: 100%;
  }

  &.colorDefault {
    color: colors.$color-text-default;
  }

  &.colorSubtle {
    color: colors.$color-text-subtle;
  }

  &.colorMuted {
    color: colors.$color-text-muted;
  }

  &.colorDisabled {
    color: colors.$color-text-disabled;
  }

  &.colorInverse {
    color: colors.$color-text-inverse;
  }

  &.colorInverseSubtle {
    color: colors.$color-text-inverse-subtle;
  }

  &.colorSuccess {
    color: colors.$color-text-success;
  }

  &.colorDanger {
    color: colors.$color-text-danger;
  }

  &.colorWarning {
    color: colors.$color-text-warning;
  }

  &.colorWarningSoft {
    color: colors.$color-text-warning-soft;
  }

  &.colorEmphasis {
    color: colors.$color-text-emphasis;
  }

  &.noOpacity {
    opacity: 1 !important;
  }

  &.noWrap {
    white-space: nowrap;
  }

  &.truncate {
    display: block;
    width: 100%;
    min-width: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &.bold {
    font-weight: 700 !important;
  }
}
