@use '../../../../styles/breakpoints.tokens' as breakpoints;
@use '../../../../styles/helpers' as helpers;
@use '../../../../styles/mixins/page-gap' as pageGap;

.gameResultsPage {
  @include pageGap.page-gap;

  display: flex;
  flex-direction: column;
  flex: 1;

  @include helpers.mobile {
    width: 100%;
  }

  @include helpers.tablet {
    width: 100%;
  }

  @include helpers.desktop {
    width: calc(#{breakpoints.$breakpoint-desktop} * 0.8);
  }

  section {
    @include pageGap.page-gap;

    display: flex;
    flex-direction: column;
    flex: 1;

    @include helpers.mobile {
      max-width: breakpoints.$breakpoint-mobile;
    }

    @include helpers.tablet {
      max-width: breakpoints.$breakpoint-tablet;
    }

    @include helpers.desktop {
      max-width: breakpoints.$breakpoint-desktop;
    }
  }
}
