@use '../../styles/helpers' as helpers;
@use '../../styles/spacing.semantic' as spacing;

.actions {
  display: flex;
  flex-direction: row;

  @include helpers.mobile {
    column-gap: spacing.$space-compact-mobile;
  }

  @include helpers.tablet {
    column-gap: spacing.$space-compact-tablet;
  }

  @include helpers.desktop {
    column-gap: spacing.$space-compact-desktop;
  }

  > div {
    flex: 1;
  }
}
