$yellow-1: #ffdd59;
$yellow-2: #ffd32a;

$orange-1: #FFC312;
$orange-2: #ffa502;

$red-1: #ff5e57;
$red-2: #ff3f34;

$pink-1: #ff6b81;
$pink-2: #ff4757;

$purple-1: #FDA7DF;
$purple-2: #D980FA;

$blue-1: #5352ed;
$blue-2: #3742fa;

$turquoise-1: #7efff5;
$turquoise-2: #67e6dc;

$green-1: #32ff7e;
$green-2: #3ae374;
$green-2-25: #05c46b25;

$white-1: #ffffff;
$white-1-5: rgba(255, 255, 255, 0.05);
$white-1-10: rgba(255, 255, 255, 0.10);
$white-1-15: rgba(255, 255, 255, 0.15);
$white-1-20: rgba(255, 255, 255, 0.20);
$white-1-25: rgba(255, 255, 255, 0.25);
$white-1-30: rgba(255, 255, 255, 0.30);
$white-1-40: rgba(255, 255, 255, 0.4);
$white-1-50: rgba(255, 255, 255, 0.5);
$white-1-70: rgba(255, 255, 255, 0.7);
$white-1-80: rgba(255, 255, 255, 0.8);
$white-2: #f1f2f6;
$white-3: #dfe4ea;
$white-4: #ced6e0;

$gray-1: #a4b0be;
$gray-2: #747d8c;
$gray-3: #57606f;
$gray-4: #2f3542;

$black-1: #000000;
$black-1-10: rgba(0, 0, 0, 0.1);
$black-1-15: rgba(0, 0, 0, 0.15);
$black-1-20: rgba(0, 0, 0, 0.2);
$black-1-25: rgba(0, 0, 0, 0.25);
$black-1-30: rgba(0, 0, 0, 0.30);
$black-1-50: rgba(0, 0, 0, 0.5);
$black-1-70: rgba(0, 0, 0, 0.7);
$black-1-75: rgba(0, 0, 0, 0.75);
$black-1-80: rgba(0, 0, 0, 0.8);

/* Primary control colors */
$control-primary-normal-color: $white-1;
$control-primary-success-color: $green-2;
$control-primary-call-to-action-color: $yellow-2;
$control-primary-danger-color: $red-2;
$control-primary-focus-color: $yellow-2;

/* Secondary control colors */
$control-secondary-normal-color: $white-4;
$control-secondary-success-color: $green-1;
$control-secondary-danger-color: $red-1;
$control-secondary-focus-color: $yellow-2;

/* Text control colors*/
$control-text-normal-color: $gray-4;
$control-text-contrast-color: $white-1;
$control-text-success-color: $green-2;
$control-text-danger-color: $red-2;

/* Disabled control colors */
$control-primary-disabled-color: $gray-1;
$control-text-disabled-color: $gray-2;
