@use './colors.semantic' as colors;
@use './helpers';
@use './variables';
@use './spacing.semantic' as spacing;
@use './mixins/button' as button;

.form {
  display: flex;
  flex-direction: column;

  @include helpers.mobile {
    row-gap: spacing.$space-stack-mobile;
    width: 100%;
  }

  @include helpers.tablet {
    row-gap: spacing.$space-stack-tablet;
    width: variables.$mobile-width;
  }

  @include helpers.desktop {
    row-gap: spacing.$space-stack-desktop;
    width: variables.$mobile-width;
  }

  .formField {
    display: flex;
    flex-direction: column;

    @include helpers.mobile {
      row-gap: spacing.$space-compact-mobile;
    }

    @include helpers.tablet {
      row-gap: spacing.$space-compact-tablet;
    }

    @include helpers.desktop {
      row-gap: spacing.$space-compact-desktop;
    }

    .hint {
      display: inline;

      @include helpers.mobile {
        @include helpers.fontSize(variables.$mobile-control-small-font-size);
      }

      @include helpers.tablet {
        @include helpers.fontSize(variables.$tablet-control-small-font-size);
      }

      @include helpers.desktop {
        @include helpers.fontSize(variables.$desktop-control-small-font-size);
      }

      .buttonLink {
        @include button.button-reset;

        display: inline-flex;
        outline: none;
        text-decoration: underline;
        color: colors.$color-text-inverse;
        text-underline-offset: helpers.pxToRem(2px);

        @include helpers.mobile {
          @include helpers.fontSize(variables.$mobile-control-small-font-size);
        }

        @include helpers.tablet {
          @include helpers.fontSize(variables.$tablet-control-small-font-size);
        }

        @include helpers.desktop {
          @include helpers.fontSize(variables.$desktop-control-small-font-size);
        }

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}
