$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1024px;

/* Font sizes */

$mobile-extra-large-title-font-size: 66px;
$tablet-extra-large-title-font-size: 76px;
$desktop-extra-large-title-font-size: 86px;

$mobile-title-font-size: 40px;
$tablet-title-font-size: 46px;
$desktop-title-font-size: 54px;

$mobile-title2-font-size: 30px;
$tablet-title2-font-size: 36px;
$desktop-title2-font-size: 42px;

$mobile-title3-font-size: 22px;
$tablet-title3-font-size: 26px;
$desktop-title3-font-size: 30px;

$mobile-title4-font-size: 20px;
$tablet-title4-font-size: 22px;
$desktop-title4-font-size: 24px;

$mobile-title5-font-size: 16px;
$tablet-title5-font-size: 18px;
$desktop-title5-font-size: 20px;

$mobile-body-font-size: 22px;
$tablet-body-font-size: 26px;
$desktop-body-font-size: 30px;

$mobile-body2-font-size: 20px;
$tablet-body2-font-size: 22px;
$desktop-body2-font-size: 24px;

$mobile-link-font-size: 20px;
$tablet-link-font-size: 22px;
$desktop-link-font-size: 24px;

$mobile-link2-font-size: 16px;
$tablet-link2-font-size: 18px;
$desktop-link2-font-size: 20px;

$mobile-control-large-font-size: 18px;
$tablet-control-large-font-size: 20px;
$desktop-control-large-font-size: 22px;

$mobile-control-normal-font-size: 16px;
$tablet-control-normal-font-size: 17px;
$desktop-control-normal-font-size: 18px;

$mobile-control-small-font-size: 14px;
$tablet-control-small-font-size: 15px;
$desktop-control-small-font-size: 16px;

$mobile-control-xsmall-font-size: 12px;
$tablet-control-xsmall-font-size: 13px;
$desktop-control-xsmall-font-size: 14px;

/* Line heights */

$mobile-extra-large-title-line-height: 1.08;
$tablet-extra-large-title-line-height: 1.08;
$desktop-extra-large-title-line-height: 1.08;

$mobile-title-line-height: 1.15;
$tablet-title-line-height: 1.13;
$desktop-title-line-height: 1.15;

$mobile-title2-line-height: 1.2;
$tablet-title2-line-height: 1.22;
$desktop-title2-line-height: 1.19;

$mobile-title3-line-height: 1.5;
$tablet-title3-line-height: 1.54;
$desktop-title3-line-height: 1.53;

$mobile-title4-line-height: 1.45;
$tablet-title4-line-height: 1.5;
$desktop-title4-line-height: 1.58;

$mobile-title5-line-height: 1.4;
$tablet-title5-line-height: 1.42;
$desktop-title5-line-height: 1.45;

$mobile-body-line-height: 1.5;
$tablet-body-line-height: 1.54;
$desktop-body-line-height: 1.53;

$mobile-body2-line-height: 1.45;
$tablet-body2-line-height: 1.5;
$desktop-body2-line-height: 1.58;

$mobile-link-line-height: 1.45;
$tablet-link-line-height: 1.5;
$desktop-link-line-height: 1.58;

$mobile-link2-line-height: 1.4;
$tablet-link2-line-height: 1.42;
$desktop-link2-line-height: 1.45;

$mobile-control-normal-line-height: 1.4;
$tablet-control-normal-line-height: 1.42;
$desktop-control-normal-line-height: 1.45;

$mobile-control-small-line-height: 1.35;
$tablet-control-small-line-height: 1.38;
$desktop-control-small-line-height: 1.4;

/* Height values for normal sized control components */
$mobile-control-normal-height: 2.625rem; //42px
$tablet-control-normal-height: 2.75rem; //44px
$desktop-control-normal-height: 2.875rem; //46px

/* Height values for small sized control components */
$mobile-control-small-height: 2rem; //32px
$tablet-control-small-height: 2.125rem; //34px
$desktop-control-small-height: 2.25rem; //36px

/* Outside border widths for control components */
$control-outside-border-width: 0.125rem; //2px

/* z indices */
$confetti-z-index: 1000;
$tooltip-z-index: 999;
$modal-z-index: 998;
$menu-z-index: 997;
$pin-image-z-index: 996;
$reorder-z-index: 996;
$podium-z-index: 1;

/* Badge sizes */
$mobile-badge-small-size: 32px;
$mobile-badge-small-border-width: 2px;
$mobile-badge-large-size: 100px;
$mobile-badge-large-border-width: 2px;
$tablet-badge-small-size: 36px;
$tablet-badge-small-border-width: 2px;
$tablet-badge-large-size: 120px;
$tablet-badge-large-border-width: 3px;
$desktop-badge-small-size: 40px;
$desktop-badge-small-border-width: 3px;
$desktop-badge-large-size: 140px;
$desktop-badge-large-border-width: 4px;
