$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1024px;

/* Height values for normal sized control components */
$mobile-control-normal-height: 2.625rem; //42px
$tablet-control-normal-height: 2.75rem; //44px
$desktop-control-normal-height: 2.875rem; //46px

/* Height values for small sized control components */
$mobile-control-small-height: 2rem; //32px
$tablet-control-small-height: 2.125rem; //34px
$desktop-control-small-height: 2.25rem; //36px

/* Outside border widths for control components */
$control-outside-border-width: 0.125rem; //2px

/* z indices */
$confetti-z-index: 1000;
$tooltip-z-index: 999;
$modal-z-index: 998;
$menu-z-index: 997;
$pin-image-z-index: 996;
$reorder-z-index: 996;
$podium-z-index: 1;

/* Badge sizes */
$mobile-badge-small-size: 32px;
$mobile-badge-small-border-width: 2px;
$mobile-badge-large-size: 100px;
$mobile-badge-large-border-width: 2px;
$tablet-badge-small-size: 36px;
$tablet-badge-small-border-width: 2px;
$tablet-badge-large-size: 120px;
$tablet-badge-large-border-width: 3px;
$desktop-badge-small-size: 40px;
$desktop-badge-small-border-width: 3px;
$desktop-badge-large-size: 140px;
$desktop-badge-large-border-width: 4px;
