@use 'sass:math';

@use '../../styles/colors' as legacy;
@use '../../styles/helpers';

.circularProgressBar {
  display: block;

  .circleBackground {
    stroke: legacy.$red-2;
  }

  .circleProgress {
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    transition: stroke-dashoffset 0.35s;

    stroke: legacy.$green-2;
  }

  .progressText {
    font-family: inherit;
    font-weight: bold;

    &.white {
      fill: legacy.$white;
    }
    &.black {
      fill: legacy.$gray-4;
    }
  }

  &.default {
    .circleBackground {
      stroke: legacy.$white;
    }
    .circleProgress {
      stroke: legacy.$orange-2;
    }
  }

  &.correct {
    .circleBackground {
      stroke: legacy.$red-2;
    }
    .circleProgress {
      stroke: legacy.$green-2;
    }
  }

  &.secondary {
    .circleBackground {
      stroke: legacy.$white;
    }
    .circleProgress {
      stroke: legacy.$blue-1;
    }
  }

  &.small {
    @include helpers.mobile {
      .progressText {
        @include helpers.fontSize(10px)
      }
    }

    @include helpers.tablet {
      .progressText {
        @include helpers.fontSize(12px)
      }
    }

    @include helpers.desktop {
      .progressText {
        @include helpers.fontSize(14px)
      }
    }
  }

  &.medium {
    @include helpers.mobile {
      .progressText {
        @include helpers.fontSize(14px)
      }
    }

    @include helpers.tablet {
      .progressText {
        @include helpers.fontSize(16px)
      }
    }

    @include helpers.desktop {
      .progressText {
        @include helpers.fontSize(18px)
      }
    }
  }

  &.large {
    @include helpers.mobile {
      .progressText {
        @include helpers.fontSize(18px)
      }
    }

    @include helpers.tablet {
      .progressText {
        @include helpers.fontSize(20px)
      }
    }

    @include helpers.desktop {
      .progressText {
        @include helpers.fontSize(22px)
      }
    }
  }
}
