@use 'sass:math';

@use '../../styles/colors.semantic' as colors;
@use '../../styles/helpers';

.circularProgressBar {
  display: block;

  .circleBackground {
    stroke: colors.$color-progress-danger;
  }

  .circleProgress {
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    transition: stroke-dashoffset 0.35s;

    stroke: colors.$color-progress-success;
  }

  .progressText {
    font-family: inherit;
    font-weight: bold;

    &.white {
      fill: colors.$color-progress-track;
    }
    &.black {
      fill: colors.$color-progress-fill-default;
    }
  }

  &.default {
    .circleBackground {
      stroke: colors.$color-progress-track;
    }
    .circleProgress {
      stroke: colors.$color-progress-warning;
    }
  }

  &.correct {
    .circleBackground {
      stroke: colors.$color-progress-danger;
    }
    .circleProgress {
      stroke: colors.$color-progress-success;
    }
  }

  &.secondary {
    .circleBackground {
      stroke: colors.$color-progress-track;
    }
    .circleProgress {
      stroke: colors.$color-progress-action;
    }
  }

  &.small {
    @include helpers.mobile {
      .progressText {
        @include helpers.fontSize(10px)
      }
    }

    @include helpers.tablet {
      .progressText {
        @include helpers.fontSize(12px)
      }
    }

    @include helpers.desktop {
      .progressText {
        @include helpers.fontSize(14px)
      }
    }
  }

  &.medium {
    @include helpers.mobile {
      .progressText {
        @include helpers.fontSize(14px)
      }
    }

    @include helpers.tablet {
      .progressText {
        @include helpers.fontSize(16px)
      }
    }

    @include helpers.desktop {
      .progressText {
        @include helpers.fontSize(18px)
      }
    }
  }

  &.large {
    @include helpers.mobile {
      .progressText {
        @include helpers.fontSize(18px)
      }
    }

    @include helpers.tablet {
      .progressText {
        @include helpers.fontSize(20px)
      }
    }

    @include helpers.desktop {
      .progressText {
        @include helpers.fontSize(22px)
      }
    }
  }
}
