@use '../../../../../styles/breakpoints.tokens' as breakpoints;
@use '../../../../../styles/helpers' as helpers;

.answerPin {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  min-height: 0;

  .interactive {
    flex: 1 1 0;
    min-height: 0;

    .buttonWrapper {
      display: flex;
      flex-direction: column;
      flex: 0 0 auto;

      @include helpers.mobile {
        width: 100%;
      }

      @include helpers.tablet {
        width: breakpoints.$breakpoint-mobile;
      }

      @include helpers.desktop {
        width: breakpoints.$breakpoint-mobile;
      }
    }
  }
}
