@use '../../styles/colors.semantic' as colors;
@use '../../styles/helpers';
@use '../../styles/variables';

.menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: colors.$color-surface-floating;
  border: none;
  z-index: variables.$menu-z-index;
  transform: translateX(-100%);
  row-gap: helpers.pxToRem(8px);
  padding: helpers.pxToRem(8px) 0;
  border-radius: helpers.pxToRem(8px);
  box-shadow:
    0 8px 24px colors.$color-shadow-default,
    inset 0 1px 0 colors.$color-inset-default;

  .menuItem {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: colors.$color-text-default;
    background-color: transparent;
    appearance: none;
    padding: 0;
    border: none;
    outline: none;

    .content {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      width: 100%;
      column-gap: helpers.pxToRem(16px);
      padding: helpers.pxToRem(8px) helpers.pxToRem(16px);
      white-space: nowrap;

      @include helpers.fontSize(22px);

      .icon {
        width: helpers.pxToRem(22px);
      }
    }

    &:hover {
      &:not(:disabled) {
        cursor: pointer;

        .content {
          background-color: colors.$color-action-subtle;
        }

        .icon {
          color: colors.$color-action-default;
        }
      }
    }

    &:disabled {
      color: colors.$color-text-disabled;
    }
  }

  .menuSeparator {
    display: flex;
    flex-direction: column;
    width: calc(100% - (#{variables.$desktop-narrow-layout-gutter} * 2));
    appearance: none;
    margin: 0 variables.$desktop-narrow-layout-gutter;
    border: none;
    border-bottom: 1px dashed colors.$color-border-subtle;
    outline: none;
  }
}
