@use '../../styles/colors.semantic' as colors;
@use '../../styles/helpers';
@use '../../styles/shadows.tokens' as shadows;
@use '../../styles/variables';
@use '../../styles/spacing.semantic' as spacing;

.menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: colors.$color-surface-floating;
  border: none;
  z-index: variables.$menu-z-index;
  transform: translateX(-100%);
  row-gap: spacing.$space-compact-mobile;
  padding: spacing.$space-compact-mobile 0;
  border-radius: helpers.pxToRem(8px);
  box-shadow: shadows.$shadow-overlay;

  .menuItem {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: colors.$color-text-default;
    background-color: transparent;
    appearance: none;
    padding: 0;
    border: none;
    outline: none;

    .content {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      width: 100%;
      column-gap: spacing.$space-content-gap-mobile;
      padding: spacing.$space-compact-mobile spacing.$space-content-gap-mobile;
      white-space: nowrap;

      @include helpers.fontSize(22px);

      .icon {
        width: helpers.pxToRem(22px);
      }
    }

    &:hover {
      &:not(:disabled) {
        cursor: pointer;

        .content {
          background-color: colors.$color-action-subtle;
        }

        .icon {
          color: colors.$color-action-default;
        }
      }
    }

    &:disabled {
      color: colors.$color-text-disabled;
    }
  }

  .menuSeparator {
    display: flex;
    flex-direction: column;
    width: calc(100% - (#{spacing.$space-compact-desktop} * 2));
    appearance: none;
    margin: 0 spacing.$space-compact-desktop;
    border: none;
    border-bottom: 1px dashed colors.$color-border-subtle;
    outline: none;
  }
}
