@use '../../styles/border-radius.tokens' as radius;
@use '../../styles/colors.semantic' as colors;
@use '../../styles/helpers' as helpers;
@use '../../styles/mixins/_button' as button;
@use '../../styles/shadows.tokens' as shadows;
@use '../../styles/spacing.semantic' as spacing;
@use '../../styles/variables' as variables;

.menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: colors.$color-surface-floating;
  border: none;
  z-index: variables.$menu-z-index;
  transform: translateX(-100%);
  row-gap: 0;
  padding: spacing.$space-compact-mobile 0;
  border-radius: radius.$radius-surface-sm;
  box-shadow: shadows.$shadow-overlay;

  .menuItemButton {
    @include button.button-reset;

    display: flex;
    flex-direction: column;
    width: 100%;
    outline: none;

    .content {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      width: 100%;
      white-space: nowrap;
      color: colors.$color-text-default;

      @include helpers.mobile {
        column-gap: spacing.$space-content-padding-mobile * 2;
        padding: spacing.$space-content-padding-mobile spacing.$space-content-padding-mobile * 2;
      }
      @include helpers.tablet {
        column-gap: spacing.$space-content-padding-tablet * 2;
        padding: spacing.$space-content-padding-tablet spacing.$space-content-padding-tablet * 2;
      }
      @include helpers.desktop {
        column-gap: spacing.$space-content-padding-desktop * 2;
        padding: spacing.$space-content-padding-desktop spacing.$space-content-padding-desktop * 2;
      }

      @include helpers.fontSize(22px);

      .icon {
        width: helpers.pxToRem(22px);
      }
    }

    &:hover {
      &:not(:disabled) {
        cursor: pointer;

        .content {
          background-color: colors.$color-action-subtle;
        }

        .icon {
          color: colors.$color-action-default;
        }
      }
    }

    &:disabled {
      color: colors.$color-text-disabled;
    }
  }

  .menuSeparator {
    display: flex;
    flex-direction: column;
    appearance: none;
    border: none;
    border-bottom: 1px dashed colors.$color-border-subtle;
    outline: none;

    @include helpers.mobile {
      width: calc(100% - (#{spacing.$space-compact-mobile} * 2));
      margin: spacing.$space-compact-mobile;
    }
    @include helpers.tablet {
      width: calc(100% - (#{spacing.$space-compact-tablet} * 2));
      margin: spacing.$space-compact-tablet;
    }
    @include helpers.desktop {
      width: calc(100% - (#{spacing.$space-compact-desktop} * 2));
      margin: spacing.$space-compact-desktop;
    }
  }
}
