@use '../../styles/breakpoints.tokens' as breakpoints;
@use '../../styles/helpers' as helpers;
@use '../../styles/spacing.semantic' as spacing;

.quizTableFilter {
  display: flex;
  flex-direction: row;

  @include helpers.mobile {
    width: 100%;
  }

  @include helpers.tablet {
    width: breakpoints.$breakpoint-mobile;
  }

  @include helpers.desktop {
    width: breakpoints.$breakpoint-mobile;
  }

  form {
    display: flex;
    flex-direction: row;
    width: 100%;

    @include helpers.mobile {
      column-gap: spacing.$space-compact-mobile;
    }

    @include helpers.tablet {
      column-gap: spacing.$space-compact-tablet;
    }

    @include helpers.desktop {
      column-gap: spacing.$space-compact-desktop;
    }

    .column {
      display: flex;
      flex-direction: column;
      min-width: 0;

      &.full {
        flex: 1;
      }
    }
  }
}
