@use 'sass:color';

@use '../../../../../../styles/border-radius.tokens' as radius;
@use '../../../../../../styles/colors.semantic' as colors;
@use '../../../../../../styles/helpers' as helpers;
@use '../../../../../../styles/mixins/_button' as button;
@use '../../../../../../styles/spacing.semantic' as spacing;

$outline-offset: helpers.pxToRem(2px);

.questionPickerWrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-width: 0;
  width: 100%;

  @include helpers.mobile {
    row-gap: spacing.$space-compact-mobile;
  }

  @include helpers.tablet {
    row-gap: spacing.$space-compact-tablet;
  }

  @include helpers.desktop {
    row-gap: spacing.$space-compact-desktop;
  }

  .questionPickerItemContainer {
    display: flex;
    flex-direction: column;
    min-width: 0;
    max-height: 100dvh;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    background-color: colors.$color-surface-default;
    border-radius: radius.$radius-surface-md;
    outline: colors.$color-focus-outline solid $outline-offset;
    outline-offset: $outline-offset;
    border: $outline-offset solid transparent;
    margin: calc($outline-offset * 2);

    @include helpers.mobile {
      row-gap: spacing.$space-stack-mobile;
      padding: spacing.$space-compact-mobile;
    }

    @include helpers.tablet {
      row-gap: spacing.$space-stack-tablet;
      padding: spacing.$space-compact-tablet;
    }

    @include helpers.desktop {
      row-gap: spacing.$space-stack-desktop;
      padding: spacing.$space-compact-desktop;
    }
  }

  .addQuestionButtonWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    .addQuestionButton {
      @include button.button-reset;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      outline: colors.$color-focus-ring solid $outline-offset;
      border: $outline-offset solid transparent;
      border-radius: radius.$radius-circle;
      background-color: transparent;
      color: colors.$color-text-warning;

      @include helpers.mobile {
        @include helpers.fontSize(28px);
      }

      @include helpers.tablet {
        @include helpers.fontSize(32px);
      }

      @include helpers.desktop {
        @include helpers.fontSize(32px);
      }

      &:hover {
        color: colors.$color-text-warning-soft;
        outline-color: colors.$color-border-warning;
      }
    }
  }
}
