@use '../../../../../../styles/helpers' as helpers;
@use '../../../../../../styles/spacing.semantic' as spacing;

.questionPickerWrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-width: 0;
  width: 100%;

  @include helpers.mobile {
    gap: spacing.$space-compact-mobile;
  }

  @include helpers.tablet {
    gap: spacing.$space-compact-tablet;
  }

  @include helpers.desktop {
    gap: spacing.$space-compact-desktop;
  }
}

.questionPickerItemContainer {
  display: flex;
  min-width: 0;

  @include helpers.mobile {
    flex-direction: row;
    column-gap: spacing.$space-compact-mobile;
    overflow-x: auto;
    overflow-y: hidden;
  }

  @include helpers.tablet {
    flex-direction: row;
    column-gap: spacing.$space-compact-tablet;
    overflow-x: auto;
    overflow-y: hidden;
  }

  @include helpers.desktop {
    flex-direction: column;
    row-gap: spacing.$space-compact-desktop;
    max-height: 100dvh;
    overflow-x: hidden;
    overflow-y: auto;
  }
}
