@use '../../../../styles/helpers' as helpers;
@use '../../../../styles/spacing.semantic' as spacing;
@use '../../../../styles/variables' as variables;

.actions {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 100%;
  max-width: variables.$mobile-width;

  @include helpers.mobile {
    column-gap: spacing.$space-compact-mobile;
  }

  @include helpers.tablet {
    column-gap: spacing.$space-compact-tablet;
  }

  @include helpers.desktop {
    column-gap: spacing.$space-compact-desktop;
  }

  div[class*='buttonInputContainer'] {
    flex: 1;
  }
}
