@use '../../../../styles/colors.semantic' as colors;
@use '../../../../styles/helpers';
@use '../../../../styles/mixins/_surface' as surface;
@use '../../../../styles/variables';
@use '../../../../styles/spacing.semantic' as spacing;

.ratingCard {
  @include surface.surface-box;

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  @include helpers.mobile {
    gap: spacing.$space-page-mobile;
    padding: spacing.$space-compact-mobile;
    border-radius: variables.$mobile-border-radius;
    max-width: 100%;
  }

  @include helpers.tablet {
    gap: spacing.$space-page-tablet;
    padding: spacing.$space-compact-tablet;
    border-radius: variables.$tablet-border-radius;
    max-width: 350px;
  }

  @include helpers.desktop {
    gap: spacing.$space-page-desktop;
    padding: spacing.$space-compact-desktop;
    border-radius: variables.$desktop-border-radius;
    max-width: 400px;
  }
}

.ratingTitle {
  font-weight: bold;
  opacity: 0.95;

  @include helpers.mobile {
    @include helpers.fontSize(20px);
  }

  @include helpers.tablet {
    @include helpers.fontSize(22px);
  }

  @include helpers.desktop {
    @include helpers.fontSize(24px);
  }
}

.comment {
  display: flex;
  flex-direction: column;
  width: 100%;
}
