@use '../../../../styles/border-radius.tokens' as radius;
@use '../../../../styles/helpers';
@use '../../../../styles/mixins/_surface' as surface;
@use '../../../../styles/spacing.semantic' as spacing;

.ratingCard {
  @include surface.surface-box;

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-radius: radius.$radius-surface-md;

  @include helpers.mobile {
    gap: spacing.$space-page-mobile;
    padding: spacing.$space-compact-mobile;
    max-width: 100%;
  }

  @include helpers.tablet {
    gap: spacing.$space-page-tablet;
    padding: spacing.$space-compact-tablet;
    max-width: 350px;
  }

  @include helpers.desktop {
    gap: spacing.$space-page-desktop;
    padding: spacing.$space-compact-desktop;
    max-width: 400px;
  }
}

.comment {
  display: flex;
  flex-direction: column;
  width: 100%;
}
