@use '../../styles/border-radius.tokens' as radius;
@use '../../styles/colors.semantic' as colors;
@use '../../styles/controls.tokens' as controls;
@use '../../styles/helpers' as helpers;
@use '../../styles/inputs';
@use '../../styles/spacing.semantic' as spacing;
@use '../../styles/typography.tokens' as typography;

$checkbox-height-ratio: 0.7;

$mobile-checkbox-normal-size: calc(
  #{controls.$control-normal-height-mobile} * $checkbox-height-ratio
);
$tablet-checkbox-normal-size: calc(
  #{controls.$control-normal-height-tablet} * $checkbox-height-ratio
);
$desktop-checkbox-normal-size: calc(
  #{controls.$control-normal-height-desktop} * $checkbox-height-ratio
);

$mobile-checkbox-small-size: calc(
  #{controls.$control-small-height-mobile} * $checkbox-height-ratio
);
$tablet-checkbox-small-size: calc(
  #{controls.$control-small-height-tablet} * $checkbox-height-ratio
);
$desktop-checkbox-small-size: calc(
  #{controls.$control-small-height-desktop} * $checkbox-height-ratio
);

$checkbox-normal-font-size-mobile: typography.$font-size-control-normal-mobile;
$checkbox-normal-font-size-tablet: typography.$font-size-control-normal-tablet;
$checkbox-normal-font-size-desktop: typography.$font-size-control-normal-desktop;

$checkbox-small-font-size-mobile: calc($checkbox-normal-font-size-mobile * 0.8);
$checkbox-small-font-size-tablet: calc($checkbox-normal-font-size-tablet * 0.8);
$checkbox-small-font-size-desktop: calc(
  $checkbox-normal-font-size-desktop * 0.8
);

.inputContainer {
  display: flex;
  flex-direction: column;

  .textFieldInputContainer {
    @extend .input;

    &.small {
      @extend .input-size-small;
    }

    &.error {
      @extend .input-kind-destructive;
    }

    &.textFieldInputKindPrimary {
      @extend .input-kind-primary;
    }

    &.textFieldInputKindSecondary {
      @extend .input-kind-secondary;
    }

    .checkboxLabel {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      background-color: transparent;
      border: controls.$control-border-width-outside solid
        colors.$color-border-control-success;
      border-radius: radius.$radius-circle;
      transition:
        background-color 0.3s ease,
        border-color 0.3s ease;
      cursor: pointer;

      input[type='checkbox'] {
        display: none;
      }

      .checkboxIcon {
        color: colors.$color-text-inverse;
      }

      &:has(> input:checked) {
        background-color: colors.$color-surface-success-soft;
      }

      &:has(> input:disabled) {
        background-color: colors.$color-surface-subtle;
        border-color: colors.$color-border-control-muted-disabled;
      }

      @include helpers.mobile {
        width: $mobile-checkbox-normal-size;
        height: $mobile-checkbox-normal-size;

        @include helpers.fontSize($checkbox-normal-font-size-tablet);
      }

      @include helpers.tablet {
        width: $tablet-checkbox-normal-size;
        height: $tablet-checkbox-normal-size;

        @include helpers.fontSize($checkbox-normal-font-size-tablet);
      }

      @include helpers.desktop {
        width: $desktop-checkbox-normal-size;
        height: $desktop-checkbox-normal-size;

        @include helpers.fontSize($checkbox-normal-font-size-desktop);
      }
    }

    @include helpers.mobile {
      &.small {
        .checkboxLabel {
          width: $mobile-checkbox-small-size;
          height: $mobile-checkbox-small-size;

          @include helpers.fontSize($checkbox-small-font-size-mobile);
        }
      }
    }

    @include helpers.tablet {
      &.small {
        .checkboxLabel {
          width: $tablet-checkbox-small-size;
          height: $tablet-checkbox-small-size;

          @include helpers.fontSize($checkbox-small-font-size-tablet);
        }
      }
    }

    @include helpers.desktop {
      &.small {
        .checkboxLabel {
          width: $desktop-checkbox-small-size;
          height: $desktop-checkbox-small-size;

          @include helpers.fontSize($checkbox-small-font-size-desktop);
        }
      }
    }
  }

  .errorContainer {
    @extend .input-error;
  }

  @include helpers.mobile {
    row-gap: spacing.$space-compact-mobile;
  }

  @include helpers.tablet {
    row-gap: spacing.$space-compact-tablet;
  }

  @include helpers.desktop {
    row-gap: spacing.$space-compact-desktop;
  }
}
