@use '../../../../styles/colors.semantic' as colors;
@use '../../../../styles/helpers' as helpers;
@use '../../../../styles/spacing.semantic' as spacing;

.quizCreatorPageHeader {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex: 1;

  @include helpers.mobile {
    column-gap: spacing.$space-compact-mobile
  }

  @include helpers.tablet {
    column-gap: spacing.$space-compact-tablet
  }

  @include helpers.desktop {
    column-gap: spacing.$space-compact-desktop;
  }
}

.quizCreatorPage {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  height: 100%;

  @include helpers.mobile {
    row-gap: spacing.$space-compact-mobile
  }

  @include helpers.tablet {
    row-gap: spacing.$space-compact-tablet
  }

  @include helpers.desktop {
    row-gap: spacing.$space-compact-desktop;
  }

  .editorToggleSection {
    display: flex;
    flex-direction: column;
    row-gap: spacing.$space-compact-desktop;

    @include helpers.mobile {
      padding-bottom: spacing.$space-compact-mobile;
    }

    @include helpers.tablet {
      padding-bottom: spacing.$space-compact-tablet;
    }

    @include helpers.desktop {
      padding-bottom: spacing.$space-compact-desktop;
    }

    .divider {
      display: flex;
      flex-direction: column;
      border: 1px solid colors.$color-border-contrast;
    }

    .toggleButtonWrapper {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  }
}
