@use '../../../../styles/colors.semantic' as colors;
@use '../../../../styles/helpers' as helpers;
@use '../../../../styles/spacing.semantic' as spacing;

.workspace {
  display: grid;
  grid-template-columns:
    minmax(#{helpers.pxToRem(220px)}, 1fr)
    minmax(#{helpers.pxToRem(440px)}, 2fr)
    minmax(#{helpers.pxToRem(220px)}, 1fr);
  align-items: start;
  gap: spacing.$space-compact-desktop;
  width: 100%;
  overflow-x: auto;
}

.questionNavigator,
.questionEditor,
.questionSettings {
  min-width: 0;
}

.questionNavigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: spacing.$space-compact-desktop;
}

.quizCreatorPage {
  flex: 1;
  height: 100%;

  .editorToggleSection {
    display: flex;
    flex-direction: column;
    row-gap: spacing.$space-compact-desktop;

    @include helpers.mobile {
      padding-bottom: spacing.$space-compact-mobile;
    }

    @include helpers.tablet {
      padding-bottom: spacing.$space-compact-tablet;
    }

    @include helpers.desktop {
      padding-bottom: spacing.$space-compact-desktop;
    }

    .divider {
      display: flex;
      flex-direction: column;
      border: 1px solid colors.$color-border-contrast;
    }

    .toggleButtonWrapper {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  }
}
