@use '../../../../styles/colors.semantic' as colors;
@use '../../../../styles/helpers';
@use '../../../../styles/variables';
@use '../../../../styles/spacing.semantic' as spacing;

.grid {
  display: grid;
  width: 100%;

  @include helpers.mobile {
    grid-template-columns: repeat(2, 1fr);
    gap: spacing.$space-compact-mobile;
  }

  @include helpers.tablet {
    grid-template-columns: repeat(3, 1fr);
    gap: spacing.$space-compact-tablet;
  }

  @include helpers.desktop {
    grid-template-columns: repeat(4, 1fr);
    gap: spacing.$space-compact-desktop;
  }

  :global([data-testid='profile-game-card']) {
    width: 100%;
  }
}

.loadMoreContainer {
  display: flex;
  justify-content: center;
  padding: spacing.$space-page-mobile 0;
}

.emptyState {
  margin: 0;
  text-align: center;
  color: colors.$color-text-inverse-subtle;

  @include helpers.mobile {
    padding: spacing.$space-page-mobile 0;
    @include helpers.fontSize(16px);
  }

  @include helpers.tablet {
    padding: spacing.$space-page-desktop 0;
    @include helpers.fontSize(20px);
  }

  @include helpers.desktop {
    padding: spacing.$space-section-lg-desktop 0;
    @include helpers.fontSize(24px);
  }
}
