@use '../../../../../../styles/helpers' as helpers;
@use '../../../../../../styles/spacing.semantic' as spacing;

.questionEditorContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;

  @include helpers.mobile {
    row-gap: spacing.$space-stack-mobile;
  }

  @include helpers.tablet {
    row-gap: spacing.$space-stack-tablet;
  }

  @include helpers.desktop {
    row-gap: spacing.$space-stack-desktop;
  }
}
