@use '../../../../styles/colors.semantic' as colors;
@use '../../../../styles/helpers';
@use '../../../../styles/mixins/_surface' as surface;
@use '../../../../styles/variables';

.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  height: 100%;
  min-width: 0;
  overflow: scroll;

  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }

  @include helpers.mobile {
    row-gap: variables.$mobile-layout-gutter;
    padding-bottom: variables.$mobile-layout-gutter;
    width: 100%;
  }

  @include helpers.tablet {
    row-gap: variables.$tablet-layout-gutter;
    padding-bottom: variables.$tablet-layout-gutter;
    width: 100%;
  }

  @include helpers.desktop {
    row-gap: variables.$desktop-layout-gutter;
    padding-bottom: variables.$desktop-layout-gutter;
    width: variables.$desktop-width * 0.85;
  }

  .thumbnailContainer {
    aspect-ratio: 16 / 9;
    overflow: hidden;
    flex-shrink: 0;

    @include helpers.mobile {
      width: 100%;
    }

    @include helpers.tablet {
      width: 85%;
    }

    @include helpers.desktop {
      width: 85%;
    }
  }

  .actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;

    @include helpers.mobile {
      column-gap: variables.$mobile-narrow-layout-gutter;
    }

    @include helpers.tablet {
      column-gap: variables.$tablet-narrow-layout-gutter;
    }

    @include helpers.desktop {
      column-gap: variables.$desktop-narrow-layout-gutter;
    }
  }

  .details {
    @include surface.surface-box;

    display: grid;
    margin-top: auto;
    width: 100%;

    @include helpers.mobile {
      grid-template-columns: 1fr 1fr;
      gap: variables.$mobile-narrow-layout-gutter;
      border-radius: variables.$mobile-border-radius;
      padding: variables.$mobile-narrow-layout-gutter;
    }

    @include helpers.tablet {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: variables.$tablet-narrow-layout-gutter;
      border-radius: variables.$tablet-border-radius;
      padding: variables.$tablet-narrow-layout-gutter;
    }

    @include helpers.desktop {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: variables.$desktop-narrow-layout-gutter;
      border-radius: variables.$desktop-border-radius;
      padding: variables.$desktop-narrow-layout-gutter;
    }

    .item {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      overflow: hidden;

      .icon, .value, .value > a {
        color: colors.$color-text-inverse;
        width: 100%;
      }

      .icon {
        opacity: 0.95;
      }

      .value, .value > a {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: 600;
        opacity: 0.85;

        a {
          opacity: 1;
        }
      }

      @include helpers.mobile {
        gap: calc(#{variables.$mobile-narrow-layout-gutter} * 0.5);

        @include helpers.fontSize(16px);
      }

      @include helpers.tablet {
        gap: calc(#{variables.$tablet-narrow-layout-gutter} * 0.5);

        @include helpers.fontSize(18px);
      }

      @include helpers.desktop {
        gap: calc(#{variables.$desktop-narrow-layout-gutter} * 0.5);

        @include helpers.fontSize(20px);
      }
    }
  }
}
