@use '../../../../styles/breakpoints.tokens' as breakpoints;
@use '../../../../styles/helpers' as helpers;

.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  @include helpers.desktop {
    width: breakpoints.$breakpoint-desktop * 0.85;
  }

  .thumbnailContainer {
    @include helpers.mobile {
      width: 100%;
    }

    @include helpers.tablet {
      width: 85%;
    }

    @include helpers.desktop {
      width: 85%;
    }
  }
}
