@use '../../styles/helpers' as helpers;

.spacing {
  @include helpers.mobile {
    height: 25px;
  }

  @include helpers.tablet {
    height: 30px;
  }

  @include helpers.desktop {
    height: 35px;
  }
}
