@use '../../styles/helpers' as helpers;
@use '../../styles/spacing.semantic' as spacing;

.spacing {
  @include helpers.mobile {
    height: 25px;
  }

  @include helpers.tablet {
    height: 30px;
  }

  @include helpers.desktop {
    height: 35px;
  }
}

.rankContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include helpers.mobile {
    gap: spacing.$space-compact-mobile;
  }

  @include helpers.tablet {
    gap: spacing.$space-compact-tablet;
  }

  @include helpers.desktop {
    gap: spacing.$space-compact-desktop;
  }
}
