@use 'sass:color';
@use '../../../../../../styles/colors.semantic' as colors;
@use '../../../../../../styles/helpers';
@use '../../../../../../styles/variables';
@use '../../../../../../styles/spacing.semantic' as spacing;
@use '../../../../../../styles/mixins/_button' as button;

$outline-offset: helpers.pxToRem(2px);

.gameModeSelectionModalWrapper {
  display: flex;
  flex-direction: row;

  @include helpers.mobile {
    column-gap: spacing.$space-compact-mobile;
  }

  @include helpers.tablet {
    column-gap: spacing.$space-compact-tablet;
  }

  @include helpers.desktop {
    column-gap: spacing.$space-compact-desktop;
  }

  .classic, .zeroToOneHundred {
    @include button.button-reset;

    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: colors.$color-action-tint;
    outline: colors.$color-action-tint solid $outline-offset;
    outline-offset: $outline-offset;
    border: $outline-offset solid transparent;
    margin: calc($outline-offset * 2);
    color: colors.$color-text-default;
    font-weight: bold;
    text-align: center;

    @include helpers.mobile {
      row-gap: spacing.$space-inline-mobile;
      padding: spacing.$space-compact-mobile;
      border-width: helpers.pxToRem(1px);
      border-radius: variables.$mobile-border-radius;

      @include helpers.fontSize(16px);
    }

    @include helpers.tablet {
      row-gap: spacing.$space-inline-tablet;
      padding: spacing.$space-compact-tablet;
      border-width: helpers.pxToRem(2px);
      border-radius: variables.$tablet-border-radius;

      @include helpers.fontSize(18px);
    }

    @include helpers.desktop {
      row-gap: spacing.$space-inline-desktop;
      padding: spacing.$space-compact-desktop;
      border-width: helpers.pxToRem(3px);
      border-radius: variables.$desktop-border-radius;

      @include helpers.fontSize(20px);
    }

    &:hover {
      background-color: colors.$color-action-tint;
      outline-color: colors.$color-action-tint;
      color: colors.$color-text-emphasis;
    }

    .description {
      display: flex;
      flex-direction: column;
      flex: 1;
      justify-content: flex-start;
      align-items: center;
      font-weight: normal;

      @include helpers.mobile {
        line-height: helpers.pxToRem(18px);

        @include helpers.fontSize(12px);
      }

      @include helpers.tablet {
        line-height: helpers.pxToRem(21px);

        @include helpers.fontSize(14px);
      }

      @include helpers.desktop {
        line-height: helpers.pxToRem(24px);

        @include helpers.fontSize(16px);
      }
    }
  }
}
