@use '../../../styles/border-radius.tokens' as radius;
@use '../../../styles/colors.semantic' as colors;
@use '../../../styles/helpers';
@use '../../../styles/spacing.semantic' as spacing;

.nonInteractiveInfoBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: colors.$color-surface-info;
  border-radius: radius.$radius-surface-lg;
  flex: 0 0 auto;

  @include helpers.mobile {
    column-gap: spacing.$space-page-mobile;
    padding: spacing.$space-page-mobile;
  }

  @include helpers.tablet {
    column-gap: spacing.$space-page-tablet;
    padding: spacing.$space-page-tablet;
  }

  @include helpers.desktop {
    column-gap: spacing.$space-page-desktop;
    padding: spacing.$space-page-desktop;
  }

  svg {
    display: flex;
    flex-direction: column;

    @include helpers.mobile {
      @include helpers.fontSize(28px);
    }

    @include helpers.tablet {
      @include helpers.fontSize(38px);
    }

    @include helpers.desktop {
      @include helpers.fontSize(48px);
    }
  }
}
