@use '../../../styles/colors.semantic' as colors;
@use '../../../styles/helpers';
@use '../../../styles/variables';
@use '../../../styles/spacing.semantic' as spacing;

.nonInteractiveInfoBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: colors.$color-surface-info;
  flex: 0 0 auto;

  @include helpers.mobile {
    column-gap: spacing.$space-page-mobile;
    padding: spacing.$space-page-mobile;
    border-radius: helpers.pxToRem(8px);
  }

  @include helpers.tablet {
    column-gap: spacing.$space-page-tablet;
    padding: spacing.$space-page-tablet;
    border-radius: helpers.pxToRem(12px);
  }

  @include helpers.desktop {
    column-gap: spacing.$space-page-desktop;
    padding: spacing.$space-page-desktop;
    border-radius: helpers.pxToRem(16px);
  }

  svg {
    display: flex;
    flex-direction: column;

    @include helpers.mobile {
      @include helpers.fontSize(28px);
    }

    @include helpers.tablet {
      @include helpers.fontSize(38px);
    }

    @include helpers.desktop {
      @include helpers.fontSize(48px);
    }
  }

  span {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    width: 100%;
    flex: 1;

    @include helpers.mobile {
      @include helpers.fontSize(18px);
    }

    @include helpers.tablet {
      @include helpers.fontSize(28px);
    }

    @include helpers.desktop {
      @include helpers.fontSize(38px);
    }
  }
}
